body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-color: #e2f9fd; 
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 50px; 
}

header {
  text-align: center;
  padding: 20px;
  background-color: #2393a7; 
  color: #fff;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #037285
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

header p {
  margin: 0;
  font-size: 1.2em;
  color: #fff;
}

.form-container {
  background-color: #ffffff;
  padding: 40px;
  margin-top: 30px; 
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  transition: transform 0.3s ease;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.1em;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 2px solid #2393a7; 
  border-radius: 8px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
  border-color: #00b5d5; 
}

.form-group button {
  background-color: #2393a7; 
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 1.1em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group button:hover {
  background-color: #027f95; 
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}
